<!DOCTYPE html>
<html>
  <head>
    <title>X32 Plot Converter</title>
  </head>
  <body>
    <h1>X32 Plot Converter</h1>
    <form method='post' action='convert' enctype='multipart/form-data'>
      <input type='file' name='csv' accept='.csv'>
      <input type='submit'>
    </form>
    <p>
      <h3>Examples</h3>
      <a href='/example_cues.ods'>OpenOffice spreadsheet</a>
      <a href='/example_cues.csv'>CSV file</a>
    </p>
  </body>
</html>

